## Mac files ##
.DS_Store

## IDEA files ##
*.idea

## VS Code files ##
.vscode

## Log files ##
*.log

## NodeJS ##
/node_modules
package-lock.json

## Configuration file ##
.env

## Payrolls ##
payrolls/*
!payrolls/.gitkeep

## Google API ##
credentials.json
token.json
